<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean name="greetingService" class="org.luanlouis.learning.spring.basic.GreetingService"></bean>
    <bean name="louisMonitor" class="org.luanlouis.learning.spring.basic.LouisMonitor"></bean>
    <aop:config>
        <aop:aspect ref="louisMonitor">
            <aop:before method="hello" pointcut="execution( * *.sellTicket(..))"></aop:before>
        </aop:aspect>
    </aop:config>
</beans>